doctype html
html
  link(rel='stylesheet' href='./public/lib/bootstrap/dist/css/bootstrap.min.css')
  body
    if email
      p #{email} is logged in
      button
        a(href='/logout') logout
    else
      button
        a(href='/login') Login
      button
        a(href='/register') Register
