doctype html
html
  link(rel='stylesheet' href='../public/lib/bootstrap/dist/css/bootstrap.min.css')
  body
    h3 Welcome login@email.com
    button
      a(href='/login') Login
    button
      a(href='/register') Register
